<div class="modal" id="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-info" role="alert">
                    Test Modal <span class="d-inline" id="modal-text"></span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Test modal body</p>
                <form id="test-form" action="#" th:action="@{/}" method="post">
                    <div class="mb-3">
                        <label for="balance" class="form-label">Test form</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="test-form">Save</button>
            </div>
        </div>
    </div>
</div>