<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}"></div>

<body>
    <div th:replace="~{fragments/navigation}"></div>
    <div th:replace="~{fragments/modals}"></div>

    <main>
        <div class="container">
            <h1 class="text-end my-3">Error encountered when loading application.</h1>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>

        </div>

    </main>
    <div th:replace="~{fragments/scripts}"></div>
    <div th:replace="~{fragments/footer}"></div>
</body>

</html>